[Unit]
Description=Xray Debug Vars Prometheus Exporter
After=network-online.target
Wants=network-online.target

[Service]
Type=simple

User=xray-exporter
Group=xray-exporter

ExecStart=/usr/bin/python3 /usr/local/bin/xray-debug-exporter.py

Restart=always
RestartSec=5

NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true

[Install]
WantedBy=multi-user.target
